<div class="line-2"></div>
<div class="container-fluid" style="margin-top: 20px; margin-left: 20px">
  <div class="row">
    <div class="col-lg-4">
      <div class="text"> Raphael
        <button type="button" class="btn btn-primary-outline">
          <p class="subText" style=" margin-bottom: 0">
            <i class="fa-solid fa-envelope" style="color: white"></i>
            rgoettfried@gmail.com</p>
        </button>
        <p class="text">Software Developer</p>
      </div>
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 div2">
      <button type="button" class="btn btn-lg btn-primary-outline">
        <i class="fa-brands fa-github footerIcon"></i>
      </button>
      <button type="button" class="btn btn-lg btn-primary-outline">
        <i class="fa-brands fa-facebook footerIcon" ></i>
      </button>
      <button type="button" class="btn btn-lg btn-primary-outline">
        <i class="fa-brands fa-linkedin footerIcon"></i>
      </button>
      <button type="button" class="btn btn-lg btn-primary-outline">
        <i class="fa-brands fa-instagram footerIcon"></i>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <p class="subText div2">© Copyright 2022. Made by Raphael </p>
    </div>
    <div class="col-lg-4">
    </div>
  </div>
</div>
