<div class="header">
  <p class="hashText"  style="font-size: 36px; order:1">#</p>
  <p class="text"  style="font-size: 36px ; order:2">skills</p>
  <div class="line-1" style="order:3"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 mb-3">
    </div>
    <div class="col-lg-3 mb-3">
      <table>
        <th class="text"> Programming </th>
        <tr>
          <ul>
            <li class="subText">apples</li>
            <li class="subText">bananas</li>
          </ul>
        </tr>
      </table>
    </div>
    <div class="col-lg-3 mb-3">
      <table>
        <th class="text"> Programming </th>
        <tr>
          <ul>
            <li class="subText">apples</li>
            <li class="subText">pineapples</li>
          </ul>
        </tr>
      </table>
    </div>
    <div class="col-lg-3 mb-3">
      <table>
        <th class="text"> Programming </th>
        <tr>
          <ul>
            <li class="subText">apples</li>
            <li class="subText">bananas</li>
            <li class="subText">pineapples</li>
          </ul>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 mb-3">
    </div>
    <div class="col-lg-3 mb-3">
    </div>
    <div class="col-lg-3 mb-3">
      <table>
        <th class="text"> Programming </th>
        <tr>
          <ul>
            <li class="subText">apples</li>
            <li class="subText">bananas</li>
            <li class="subText">pineapples</li>
          </ul>
        </tr>
      </table>
    </div>
    <div class="col-lg-3 mb-3">
      <table>
        <th class="text"> Programming </th>
        <tr>
          <ul>
            <li class="subText">apples</li>
            <li class="subText">bananas</li>
            <li class="subText">pineapples</li>
          </ul>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3 mb-3">
    </div>
    <div class="col-lg-3 mb-3">
    </div>
    <div class="col-lg-3 mb-3">
      <table>
        <th class="text"> Programming </th>
        <tr>
          <ul>
            <li class="subText">apples</li>
            <li class="subText">bananas</li>
            <li class="subText">pineapples</li>
          </ul>
        </tr>
      </table>
    </div>
  </div>

</div>
