.nave{
  /* background */
  background: #282c2d;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 1%;
  height: 21px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 11px;

  width: 21%;
  height: 21px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}


.flexing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 91px;
  height: 21px;


  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.hash {
  width: 10px;
  height: 21px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
