<!--<div class=" container-fluid">-->
<!--  <div class="name">-->
<!--    <button type="button" class="btn btn-primary-outline">-->
<!--      <p class="text">Raphael</p>-->
<!--    </button>-->

<!--  </div>-->
<!--  <div class="rightSide">-->
<!--    <button type="button" class="btn btn-primary-outline flexing">-->
<!--      <div class="text hash hashText">#</div>-->
<!--      <div class="text aboutMe">about me</div>-->
<!--    </button>-->
<!--    <button type="button" class="btn btn-primary-outline flexing">-->
<!--      <div class="text hash hashText">#</div>-->
<!--      <div class="text aboutMe">projects</div>-->
<!--    </button>-->
<!--    <button type="button" class="btn btn-primary-outline flexing">-->
<!--      <div class="text hash hashText">#</div>-->
<!--      <div class="text aboutMe">resume</div>-->
<!--    </button>-->

<!--  </div>-->
<!--</div>-->

<nav class="navbar nave navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text" href="#">Raphael</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav  ms-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="text hash hashText">#</span>
            <span class="text aboutMe">about me</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="text hash hashText">#</span>
            <span class="text aboutMe">projects</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="text hash hashText">#</span>
            <span class="text aboutMe">resume</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
