<nav class="navbar  nave navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand text" href="#">Raphael</a>
    <button class="navbar-toggler button" type="button">
      <span role="button" (click)="useMenu()">
        <i class="fa-solid fa-bars" style="color: white"></i>
      </span>
    </button>
    <div class="navbar-collapse hiddenMenu" id="mynavbar" #menu>
      <ul class="navbar-nav  ms-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="text hash hashText">#</span>
            <span class="text aboutMe">about me</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="text hash hashText">#</span>
            <span class="text aboutMe">projects</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="text hash hashText">#</span>
            <span class="text aboutMe">resume</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
