
.cardContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
}

.card-img-top {
  width: 100%;
  aspect-ratio: 6/3;
}

.cardBorder{
  border: 2px solid #ABB2BF;
}

