<div class="header">
  <p class="hashText"  style="font-size: 36px; order:1;">#</p>
  <p class="text"  style="font-size: 36px; order:2">projects</p> <div class="line-1" style="order:3"></div>
  <button type="button" class="btn btn-primary-outline view-all" style="order:4; flex: none;"> <p class="text"> View All -></p></button>
</div>

<div class="cardContainer container-fluid  row">
  <div class="col-lg-4" style="margin-bottom: 25px">
  <div class="card bg-transparent cardBorder shadow" >
    <img src="assets/test2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="text">Card title</h5>
      <p class="subText">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary-outline" style="border: 1px solid #C778DD;"> <p class="text"  style="margin-bottom: 0;">Go somewhere</a>
    </div>
  </div>
  </div>
  <div class="col-lg-4">
    <div class="card bg-transparent cardBorder shadow" >
      <img src="assets/test2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="text">Card title</h5>
        <p class="subText">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary-outline" style="border: 1px solid #C778DD;"> <p class="text"  style="margin-bottom: 0;">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card bg-transparent cardBorder shadow" >
      <img src="assets/test2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="text">Card title</h5>
        <p class="subText">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary-outline" style="border: 1px solid #C778DD;"> <p class="text"  style="margin-bottom: 0;">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
