
.textContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 30px;
}

.headline{

  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;

  /* white */
  position: relative;
  color: #FFFFFF;
}

.subline {

  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  /* or 156% */

  /* gray */
  color: #ABB2BF;
}

.contactBox {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;


  /* primary */
  border: 1px solid #C778DD;
}

.contactText {
  height: 21px;

  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
  /* identical to box height */

  /* white */
  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img {
  grid-area: 1 / 5 / 5 / 7;
}


.underPic{
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 10px;
  position: relative;
  width: 402px;
  height: 37px;
  bottom: 106px;
  background: #282C33;
  margin: auto;
  /* gray */
  border: 1px solid #ABB2BF;
}

.insideText{
  color: #ABB2BF;
  margin: auto;
  width: 288px;
  height: 21px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

}

.inpic{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 10px;
  position: absolute;
  width: 150px;
  height: 150px;
  border: 2px solid #ABB2BF;
  right: 22px;
  top: 100px;
}
.containerNew {
  position: relative;
  text-align: center;
  color: white;

}

@media all and (max-width: 1200px)  {
  .quoteContainer{
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    gap: 10px;
    isolation: isolate;
    height: 95px;
    /* background */
    background: #282C33;
    position: relative;
    /* gray */
    border: 1px solid #ABB2BF;
    margin-bottom: 50px;
  }

  .sizing {
    margin: auto;
    font-size: 18px
  }
  .addingMargin {
    margin-top: 80px;
  }
}

@media all and (min-width: 1200px)  {
  .quoteContainer{
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 32px;
    gap: 10px;
    isolation: isolate;
    height: 95px;
    /* background */
    background: #282C33;
    position: relative;
    /* gray */
    border: 1px solid #ABB2BF;
    margin: 0 20% 50px;
  }
  .sizing {
    margin: auto;
    font-size: 26px
  }

  .typed-out{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation: typing;
    animation-duration: 2s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
    height: 30px;
    border-right: .15em solid #ABB2BF;

  }
}
.author{
  /* Frame 49 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;

  height: 63px;
  position: absolute;
  /* gray */
  border: 1px solid #ABB2BF;


  right: 0;
  top: 93px;
}

.textLine {
  grid-area: 1 / 1 / 5 / 5;
}



@keyframes typing {
  0% { max-width: 0 }
  100% { max-width: 40ch }
}