<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="textLine">
        <p class="headline" style="word-break: break-word"> Here comes the Text that should be bigger than just one line so i try to make it as big as possible</p>
        <p class="subline" style="word-break: break-all"> This is the subline so the text should not be that cool</p>
        <button type="button" class="btn btn-primary-outline contactBox "> <p class="contactText">Contact Me! </p></button>
      </div>
    </div>
    <div class="col-xl-4 offset-2">
      <div class="img containerNew">
        <img class="img-fluid" style="position: relative; bottom: 81px; min-width: 400px" src="assets/test1.png" alt="...">
        <div class="inpic subText"></div>
        <div class="underPic">
          <p class="text insideText">Currently working at *********</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="quoteContainer">
        <p class="text" style="margin: auto; font-size: 30px"> This is a Quote</p>
        <div class="author"> <p class="text" style="margin: auto; font-size: 26px"> Batman</p></div>
      </div>
    </div>
  </div>
</div>
